.table {
        background-color: white;
        color: black;
        text-align: center;
        font-size: 14px;
        border-spacing: 1px;
        margin: auto;
    }
    th, td{
        border: 1px solid black;
        padding: 10px
    }
    tr:nth-child(even){
        background-color: lavender;
    }
tr:nth-child(odd){
    background-color: lavender;
}